# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
data = pd.read_csv('Resources/hawaii_measurements.csv')
df = pd.DataFrame(data)
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [4]:
# Set the date column as the DataFrame index
df.set_index(df['date'])

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73
...                 ...        ...   ...   ...
2017-08-19  USC00516128 2017-08-19  0.09    71
2017-08-20  USC00516128 2017-08-20   NaN    78
2017-08-21  USC00516128 2017-08-21  0.56    76
2017-08-22  USC00516128 2017-08-22  0.50    76
2017-08-23  USC00516128 2017-08-23  0.45    76

[19550 rows x 4 columns]

In [5]:
# Drop the date column

### Compare June and December data across all years

In [6]:
from scipy import stats
from random import sample

In [7]:
# Filter data for desired months; June and December

df_June = df[df['date'].dt.month == 6]
df_Dec = df[df['date'].dt.month == 12]
df_June_Dec = df_June.append(df_Dec)
df_June_Dec

           station       date  prcp  tobs
133    USC00519397 2010-06-01  0.00    78
134    USC00519397 2010-06-02  0.01    76
135    USC00519397 2010-06-03  0.00    78
136    USC00519397 2010-06-04  0.00    76
137    USC00519397 2010-06-05  0.00    77
...            ...        ...   ...   ...
19323  USC00516128 2016-12-27  0.14    71
19324  USC00516128 2016-12-28  0.14    71
19325  USC00516128 2016-12-29  1.03    69
19326  USC00516128 2016-12-30  2.37    65
19327  USC00516128 2016-12-31  0.90    65

[3217 rows x 4 columns]

In [8]:
# Identify the average temperature for June
ave_june = round (df_June['tobs'].mean())
print(ave_june)
len(df_June)

75

1700

In [9]:
# Identify the average temperature for December
ave_dec = round (df_Dec['tobs'].mean())
print(ave_dec)
len(df_Dec)

71

1517

In [10]:
# Create collections of temperature data
df_June = df_June.sample(len(df_Dec))

In [11]:
# Run paired t-test
print(stats.ttest_rel(df_June['tobs'], df_Dec['tobs']))

Ttest_relResult(statistic=30.113868113753885, pvalue=1.498293969548925e-156)

### Analysis

Use the t-test to determine whether the difference in means, if any, is statistically significant. Will you use a paired t-test or an unpaired t-test? Why?

In order to perfom the p-value, I performed paired t-test since we are comparing the means of the same group under two separate scenarios in this case tempreture in Summer month vs. Winter month
June average tempreture is 4 degree higher that December tempreture and the pvalue of 1.24 indicates that the difference is statistically significant.